{% data as "cities" %}
[
    {"name": "Mumbai", "population": "19,000,000", "country": "India"},
    {"name": "Calcutta", "population": "15,000,000", "country": "India"},
    {"name": "New York", "population": "20,000,000", "country": "USA"},
    {"name": "Chicago", "population": "7,000,000", "country": "USA"},
    {"name": "Tokyo", "population": "33,000,000", "country": "Japan"}
]
{% end-data %}

{% inspect cities %}

<ul>
{% for country, cities in items:group:[cities, "country"] %}
    <li>${country}
    <ul>
        {% for city in cities %}
          <li>${city.name}: ${city.population}</li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>
